.navbar-brand {
font-size: 50px;
padding: 30px;
margin: auto;
}

.card-header {
    font-size: larger;
    text-align: center;
}

.current {
    text-align: center;
}

.forecast {
    /* width: 20%; */
    margin: 10px;
    padding-top: 10px;
    font-size: 12pt;
    text-align: center;
    color: white;
    background-color: rgb(76, 98, 172);
}

.forecastDate {
    font-weight: bold;
    font-size: 16px;
}

.image {
    width: 50px;
    margin:auto;
}

.row {
    justify-content: center;
}

.btn-group-vertical {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* .btn {
    justify-content: center;
    text-align: center;
    margin: auto;
} */